:root {
  --color-background-primary: #191f29;
  --color-background-secondary: #18272e;
  --color-surface-primary: #324446;
  --color-surface-secondary: #435360;
  --color-surface-tertiary: #eaebec;
  --color-border-primary: #41403f;
  --color-border-holding: #813a28;
  --color-border-landmark: #3f6e66;
  --color-text-primary: #eaebec;
  --color-text-secondary: #a7a984;
  --color-text-tertiary: #c5d2cb;
  --color-text-inverse: #221f21;
  --color-text-accent: #736b23;
  --color-accent-primary: #736b23;
  --color-accent-primary-hover: #9d8940;
  --color-accent-danger: #60131b;
  --color-accent-danger-hover: #8a2a34;
  --color-accent-special: #55375d;
  --color-accent-success: #777741;
  --color-accent-info: #435360;
  --color-accent-myth: rgba(238, 206, 34, 0.8);
  --color-accent-seat-of-power: #736b23;
  --color-black-rgb: 0, 0, 0;
  --color-background-primary-rgb: 25, 31, 41;
  --color-accent-primary-rgb: 115, 107, 35;
  --color-accent-danger-rgb: 96, 19, 27;
  --color-accent-info-rgb: 67, 83, 96;
  --terrain-marsh: #324446;
  --terrain-heath: #777741;
  --terrain-crags: #18272e;
  --terrain-peaks: #41403f;
  --terrain-forest: #777741;
  --terrain-valley: #a7a984;
  --terrain-hills: #9d8940;
  --terrain-meadow: #eaebec;
  --terrain-bog: #18272e;
  --terrain-lakes: #3f6e66;
  --terrain-glades: #c5d2cb;
  --terrain-plain: #a7a984;
}
